
/* all elements in the page */


/* you can use the "Developer tools" 
	on the displayed website 
	(chrome) to test css faster!
	try it out!*/



* {
	margin:  0px;
	padding:  0px;
	box-sizing: border-box;
}

/* adjusting fonts */

body {
	font-family: "Times New Roman", Times, serif;
	transition: background 500ms ease;
	color: #FFFDEF;
	background-color: #550C18;
}

p, li {
	font-size:  22px;
	line-height: 30px;
}

/* for links */ 
a:link { color: #F9C379; } /* The default state */
a:visited { color: #B5D2B7; } /* A link the user has already clicked */
a:hover { color: #6BA680; } /* When the mouse is over the link. */
a:active { color: #6BA680; } /* The moment the link is being clicked */

/* adjusting spacing */

#left-column {
	padding: 20px;
}

#middle-column {
	padding: 50px;
}

h1, p {
	margin-bottom:  20px;
}

h3, p {
	margin-bottom:  10px;
}

ul, ol {
	margin-left: 20px;
}

img {
	max-width: 100%;
	height:  auto;
}

/* uncomment the code below to set the grid */

/*#grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

body {
	overflow: hidden;
}

.scroll {
	padding:  20px;
	overflow: scroll;
	height: 100vh;
}

#left-column {
}

#right-column {
	background: #333;
}*/